<<<<<<< HEAD
/* src/components/FAQ.css */
#faq {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-item h3 {
  margin: 0;
=======
/* FAQ.css */

.faq {
    padding: 40px;
    background-color: #fff;
}

.faq h3 {
    cursor: pointer;
    margin: 10px 0;
    color: #007BFF;
}

.faq p {
    margin-left: 20px;
    color: #333;
>>>>>>> ea6c627 (base structure for next version)
}